.Footer{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
}

.filter-anchor{
    text-decoration: underline;
    cursor: pointer;
}

.filter-anchor.active{
    text-decoration: none;
    cursor:auto;
}