.listItem{
    line-height: 32px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 50px;
    border-radius: 5px;
    padding-left: 5px;
}
.evenItem{
    background-color: #eee;
}

.oddItem{
    background-color: #ccc;
}

.bought{
    text-decoration: line-through;
}